*{
    margin: 0;
}

body {
    background-color: rgba(45, 132, 204, 0.719);
}

h1 {
    margin: 20px;
    font-size: 5rem;
    text-align: center;
    font-family: "Micro 5", sans-serif;
}
.top {
    display: flex;
    justify-content: center;
}

button {
    font-family: "Micro 5", sans-serif;
    margin: 3rem;
    font-size: 4rem;
    border-radius: 20px;
    padding: 50px;
}

button > h1 {
    font-size: 3rem;
    text-align: center;
    font-family: "Micro 5", sans-serif;
}

.container {
    max-width: 960px;
    max-height: 125px;
    margin: auto;
}

.gridRow {
    display: flex;
    height: 10px;
    border: 1px solid black;
}

.rowCol {
    width: 25px;
    background-color: white;
    border: 1px solid black;
}

.rowCol:hover {
    background-color: black;
}

